# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build output
dist
dist-ssr
/build

# testing
/coverage

# editor
.vscode/*
!.vscode/extensions.json
.idea
.omc

# misc
.DS_Store
*.pem
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# env files (can opt-in for committing if needed)
.env*

# local
*.local

# typescript
*.tsbuildinfo
